.blurb:has(a:is([href*="AI%20assisted" i]),
[href*="AI-Assisted" i],
[href*="AI-Generated" i],
[href*="Generative%20AI" i]:not([href*="Fuck%20Generative%20AI"],
[href*="Co-Written%20with%20AI" i]) {
  display: none !important;
}
